registry=https://artifactory.dowjones.io/artifactory/api/npm/dj-global-npm-virtual/
//artifactory.dowjones.io/artifactory/api/npm/dj-global-npm-virtual/:_authToken=cmVmdGtuOjAxOjE3ODEwMzYzMjc6OG82cWs3NkxyRnhucndKZmZmOWVXUHc5U0F5
//artifactory.dowjones.io/artifactory/api/npm/dj-global-npm-virtual/:always-auth=true
MRA_API_TOKEN=AE6FA10B-429C-47AA-9A0E-502FF38A63F0