@font-face {
  font-family: 'Aileron';
  src: url('/assets/fonts/Aileron-Regular.woff2') format('woff2'),
    url('/assets/fonts/Aileron-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/assets/fonts/Aileron-Bold.woff2') format('woff2'),
    url('/assets/fonts/Aileron-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Tiempos Heading";
  src: url('/assets/fonts/TiemposText-Regular.woff2') format('woff2'),
    url('/assets/fonts/TiemposText-Regular.woff') format('woff');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: "Tiempos Heading";
  src: url('/assets/fonts/TiemposText-Medium.woff2') format('woff2'),
    url('/assets/fonts/TiemposText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: medium;
}